 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh; 
  background-image: url("sign\ in.webp");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-family: "sans-serif";
}


.form {
  position: relative;
  margin-bottom: 40px;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  background-color: #fff;
  color: rgb(97 97 97);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  width: 22rem;
  background-clip: border-box;
  z-index: 0;
}

.header1 {
  position: relative;
  background-clip: border-box;
  background-color: #ff4500;
  margin: 10px;
  border-radius: 0.75rem;
  transition: 0.6s;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    rgba(33, 150, 243, 0.4);
  height: 7rem;
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.9rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header1:hover {
  background-color: black;
}

.inputs {
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 200px;
  width: 100%;
  height: 2.75rem;
  position: relative;
}

.input {
  border: 1px solid rgba(128, 128, 128, 0.61);
  outline: 0;
  color: rgb(69 90 100);
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.25rem;
  padding: 0.75rem;
  background-color: transparent;
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
}

.input:focus {
  border: 1px solid #ff4500;
}

.checkbox-container {
  margin-left: -0.625rem;
  display: inline-flex;
  align-items: center;
}

.checkbox {
  position: relative;
  overflow: hidden;
  padding: 0.55rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.027);
  height: 35px;
  width: 35px;
}

.checkbox input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-text {
  cursor: pointer;
}

.signin {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.75rem 1.5rem;
  background-color: #ff4500;
  border-radius: 0.5rem;
  width: 100%;
  height: 45px;
  transition: 0.3s;
  outline: 0;
  border: 0;
  color: #fff;
}
.signin:hover {
  background-color: black;
  box-shadow: 0 0 0 5px #1e20215f;
  color: #fff;
}

.signup-link {
  line-height: 1.5;
  font-weight: 300;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-link a,
.forget {
  line-height: 1.5;
  font-weight: 700;
  font-size: 0.875rem;
  margin-left: 0.25rem;
  color: #ff4500;
}

.forget {
  text-align: right;
  font-weight: 600;
}
.banner-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container .banner{
  background:linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #d63031 68%, #ff7675 68.1%);
  border-radius: 5px;
  margin:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 10px #0005;
  overflow: hidden;
}

.banner-container .banner .shoe{
  flex:1 1 250px;
  padding:15px;
  text-align: center;
}

.banner-container .banner .shoe img{
  width:80%;
}

.banner-container .banner .content{
  flex:1 1 250px;
  text-align: center;
  padding:10px;
  text-transform: uppercase;
}

.banner-container .banner .content span{
  color:#eee;
  font-size: 25px;
}

.banner-container .banner .content h3{
  color:#fff;
  font-size: 40px;
}

.banner-container .banner .content p{
  color:#eee;
  font-size: 20px;
  padding:10px 0;
}

.banner-container .banner .content .btn{
  display: block;
  height:40px;
  width:150px;
  line-height: 40px;
  background: #fff;
  color:#d63031;
  margin:5px auto;
  text-decoration: none;
}

.banner-container .banner .women{
  position: relative;
  bottom: -33px;
  padding:10px;
  flex:1 1 250px;
}

.banner-container .banner .women img{
  width:100%;
}

@media (max-width:768px){
  .banner-container .banner .women{
      display: none;
  }
}
