.header{
    text-align: center;
    padding: 20px ;
    background-color: rgb(231, 208, 179);
    border-radius: 10px ;
    padding: 10px;

  }
  *{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding: 100px;
    background-color: rgb(240, 222, 199);
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 5px ;
}
.gallery img {
    width: 100% ;
    padding: 15px;
}
.title {
    text-align: center ;
    margin-top: 190px;
    font-size: 30px;
    font-style:italic;

}

button{
  border-radius: 10px;
  margin-top: 2px;
  width: 20%;
  height: 40px;
  font-size: 20px;
  font-style: oblique;
  color: #ff4500;
  position: absolute;
}

li {
  list-style: none;
}
a {
  color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 70px;
  z-index: 1000;
}


#headerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  right: 30px;
  color: black;
}
#logo span {
  color: #ff4500;
}
#navBar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0px 20px;
}
#active {
  color: #ff4500;
}
#active::after {
  bottom: -6px;
  border-bottom: 2px solid;
}
#links a {
  text-decoration: none;
  font-size: 20px;
  position: relative;
  right: 20px;
}
#links a {
  position: relative;
  text-decoration: none;
}
#links a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
#links a:hover::after {
  bottom: -6px;
  border-bottom: 2px solid;
}
#links {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
#signin-btn {
  font-size: 20px;
}
#signin-btn {
  text-decoration: none;
  font-size: 20px;
  position: relative;
  right: 40px;
}
#menu{
  right: 400px;
}
#dropDownMenu {
  width: 90px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 50px;
  background-color: #242526;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#menu:hover #dropDownMenu {
  display: flex;
}
#dropDownMenu li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  position: relative;
  right:20px ;
  border: 1px solid black;
  width: 130px;
}
#dropDownMenu a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Footer */
footer {
  width: 1340px;
  margin: 0px;
  padding: 0px;
  background-color: #242526;
  color: whitesmoke;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 50px;
  position: relative;
}
#footerInfo {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footerInfo h1 span {
  color: #ff4500;
}
#footerInfo h6 {
  line-height: 20px;
}
#footerInfo p {
  font-weight: 300;
}
footer a {
  display: block;
  margin: 20px;
  cursor: pointer;
  font-weight: 100;
  color: whitesmoke;
}
footer h5 {
  position: relative;
  bottom: 30px;
  color: #83878a;
}

/*-------------------------------*/
.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: black;
  color: #f5f5f5;
  scale: 0.8;
}
.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

#menu:hover .icon {
  width: 175px;
}

#menu:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}