*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    color: white;
    font-family:"sans-serif";
    min-height: 100vh; 
    background-image: url('sign\ in.webp');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    justify-content:center;
    align-items: center;
}
.form{
    position: relative;
    display: flex;
    left: 35%;
    bottom: 20%;
    flex-direction: column;
    border-radius: 1rem;
    border-bottom: 30px;
    background-color: #fff;
    color: rgb(97 97 97);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    width: 24rem;
    background-clip: border-box;

}
.header{
    position:relative;
    background-clip: border-box;
    background-color: #ff4500;
    margin: 10px;
    border-radius: 0.75rem;
    transition: .6s;
    overflow: hidden;
    color: #fff;
    box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,rgba(33,150,243,.4);
    height: 7rem;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.header:hover{
    background-color: black;
  }
.inputs {
    padding: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    width: 100%;
    height: 2.75rem;
    position: relative;
  }
  
  .input {
    border: 1px solid rgba(128, 128, 128, 0.61);
    outline: 0;
    color: rgb(69 90 100);
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.25rem;
    padding: 0.75rem;
    background-color: transparent;
    border-radius: .375rem;
    width: 100%;
    height: 100%;
  }
  
  .input:focus {
    border: 1px solid #ff4500;
  }
  .submit{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    padding: .5rem 1.5rem;
    background-color: #ff4500;
    border-radius: .5rem;
    width: 70%;
    height: 45px;
    position: relative;
    bottom: 15px;
    transition: .3s;
    margin: 0 auto;
    outline: 0;
    border: 0;
    color: #fff;
  }
  .submit:hover {
    background-color: black;
    box-shadow: 0 0 0 5px #1e20215f;
    color: #fff;
  }

